/*------- mobile first 320px----------*/

    * {
        box-sizing: border-box;
    }
    
    /*tipografias*/
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h5, h4, a  {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 25px;
    }
    
    p {
        font-size: 15px;
    }
    
    h4 {
        margin-top: 35px;
        font-size: 30px;
    }

    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 15px;
    }
    
    .card {
        margin-top: 35px;
    }

    @media (min-width: 768px) {
        h5 {
            font-size: 30px;
        }
        
        p {
            font-size: 18px;
        }
        
        h4 {
            margin-top: 35px;
            font-size: 35px;
        }

        div a {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 20px;
        }
        
    }

    @media (min-width: 1024px) {
        h5 {
            font-size: 30px;
        }
        
        p {
            font-size: 18px;
        }
        
        h4 {
            margin-top: 35px;
            font-size: 40px;
        }
        
    }

    @media (min-width: 1440px) {
        
        h4 {
            margin-top: 35px;
            font-size: 45px;
        }
        
    }





